//
//	Mixins
//

/*
Add font and custom mixins here
*/
/* @mixin font-raleway {
	font-family: 'Raleway', sans-serif;
} */


/*********************************************************************
	Fonts
*********************************************************************/
/*
Add custom font classes here
*/
/* .raleway-light {
	@include font-raleway;
	font-weight: 300;
} */

.small-font-size {
	font-size: 2.3em;
}
.large-font-size {
	font-size: 3em;
}

.relative-font-size {
	font-size: 2.5rem;
}

.small-line-height {
	line-height: 1em;
}